/*#############################################
##########       GLOBAL STYLES       ##########
#############################################*/

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'opensans';
}

a {
  text-decoration: none;
}

body {
  background-color: #265b6a;
  background: linear-gradient(#265b6a, transparent 800px), url('../img/background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

p {
  line-height: 1.2;
}

#wrapper {
  max-width: 1080px;
  margin: auto;
}

/***** MAIN NAVIGATION *****/
#mainNav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  list-style: none;
  text-align: center;
  background-color: #265b6a;
  box-shadow: 0 1px 1px 1px rgba(2, 58, 74, 0.8);
}

#mainNav ul li {
  font-size: 1.15em;
  color: #fff;
  display: inline-block;
  width: 30%;
  padding: 7px 0;
}

#mainNav ul li a.selected, #mainNav ul li a:hover { 
  text-shadow: 0 0 6px red;
  color: red;
}

#mainNav li a:visited, #mainNav li a:link {
  color: #fff;
}

#mainNav li:not(:last-child) {
  border-right: 1px solid black;
  margin-right: -1px;
}

/*#############################################
##########        PAGE: HOME         ##########
#############################################*/

#homeHeader {
  margin-top: 30px;
  height: 900px;
}

#heading,
#heading2 {
  margin-left: 20%;
  margin-right: 20%;
}

#heading {
  font-size: 2em;
  color: #fff;
  padding-top: 25px;
}

#heading2 {
  font-size: 1.5em;
  color: #fff;
  margin-top: 8px;
}







/*#############################################
##########       PAGE: ABOUT         ##########
#############################################*/









/*#############################################
##########       PAGE: CONTACT       ##########
#############################################*/ 















